@use 'mixinsfunc';

@mixin arreglar-imagen{
    background:{
        size: cover;
        repeat: no-repeat;
        position: center;
    }
}

.hero{
    
    
    &__container{
        height: calc(100vh - 70px);
        background-image: linear-gradient(#00000089, #000000a5), url(../multimedia/img/samantha-fortney-VqXio0EvV1A-unsplash.jpg);
       
    
        @include mixinsfunc.crear-flexbox(center);

        @include arreglar-imagen;

    }
    
    &__texts{
        width: 90%;
        color: #ffffff;
    }

    &__title{
        font-size: mixinsfunc.pixeles-rem(40);
        margin-bottom: mixinsfunc.pixeles-rem(10);
    }

    &paragraph{
        font-size: mixinsfunc.pixeles-rem(18);;
    }
}